---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <a href="{{ post.url | prepend: site.baseurl }}">
          <div>
            <h1 class="post-title">{{ post.title }}</h1>
            <span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
            <p class="post-summary">{{ post.content | strip_html | truncatewords:60 }}<p>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="page-link">
        &#x3C; Prev
      </a>
    {% else %}
      <span class="page-link">&#x3C; Prev</span>
    {% endif %}
    <span class="page-number ">
      &nbsp;&nbsp;
      {{ paginator.page }} of {{ paginator.total_pages }}
      &nbsp;&nbsp;
    </span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="page-link">Next &#x3E;</a>
    {% else %}
      <span class="page-link">Next &#x3E;</span>
    {% endif %}
  </div>
</div>
