.site-footer .avatar {
	border-radius: 100%;
	width: 150px;
	height: 150px;
	border: 5px solid #FFF;
  display: block;
  margin: 0 auto;
	background: $grey-color-dark;
}

.post-content {
	img {
		display:block;
		margin:auto;
	}
}

.post-list a:hover {
	text-decoration: none;
}
.post-list a:visited {
	text-color:$text-color;
}

a:hover .post-title {
	text-decoration: underline;
}

.gutter {
	padding-right: 10px;
}
