.site-footer .avatar {
	border-radius: 100%;
	width: 150px;
	height: 150px;
	border: 5px solid #FFF;
  display: block;
  margin: 0 auto;
	background: $grey-color-dark;
}

.post-content {
	img {
		display:block;
		margin:auto;
	}
}

.post-list a:hover {
	text-decoration: none;
}

a:hover .post-title {
	text-decoration: underline;
}

.gutter {
	padding-right: 10px;
}


/** For the social fonts **/
@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('/font/MonoSocialIconsFont-1.10.eot');
    src: url('/font/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('/font/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('/font/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('/font/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('/font/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

a.symbol {
	font-size: 30px;
	color: white;
}

a.symbol:hover {
	text-decoration: none;
}

.share-bar {
	text-align: right;
	padding-bottom: 10px;
	a {
		color: $grey-color-dark;
	}
}
.code-label {
	background: #424242;
	display: inline-block;
	padding: 2px 10px;
  font-size: 15px;
	letter-spacing: -0.3px;
	color: white;
  font-family: monospace;

	margin-bottom: 0;
  margin-left: -$spacing-unit;

  @include media-query($on-laptop) {
      margin-left: -$spacing-unit / 2;
  }
}

code.highlighter-rouge {
  background-color: #eee;
	border: 1px solid #ddd;
  border-radius: 6px;
  color: #272822;
}
