/**
 * Site header
 */
.site-header {
    background: #2d4159;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 24px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: #fff;
    }

    &:hover {
        text-decoration: none;
    }

    @include media-query($on-small-palm) {
      font-size: 20px;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    background: #242424;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.footer-host {
    color: $grey-color;
    float: right;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $white-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(65% - (#{$spacing-unit} / 2));
    width:         calc(65% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Pagination
 */
.pagination {
  text-align: center;

  .page-link {
    font-weight: bold;
    padding: 15px 10px 15px 10px;
  }
  span.page-link {
    color: #CCC;
  }
}


/**
 * Post Navigation
 */

.post-navigation {
    border-bottom: 1px solid #CCC;

    .nav-link {
      padding: 15px 10px 15px 10px;
      text-decoration: none;
      font-weight: bold;
      border-top: 1px solid #CCC;
      display:block;

      &:hover .nav-title {
        text-decoration: underline;
      }
    }

    .nav-meta {
        font-size: 0.8em;
        color: #828282;
        text-transform: uppercase;
    }
    .post-related {
      ul {
        list-style: none;
        margin-left: 0;

        &:after {
          content: "";
          display: table;
          clear: both;
        }
        a:hover .post-related-title {
          text-decoration: underline;
        }
        a:hover {
          text-decoration: none;
        }
        li {
          width: 49%;
          height: 120px;
          float: left;
          overflow: hidden;

          &:nth-child(2n) {
            margin-left: 2%;
          }
          &:nth-child(n+3) {
            padding-top: 15px;
          }
        }
      }

      .post-related-title {
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .post-summary {
        padding-left: 10px;
        font-size: 14.5px;
        font-weight: normal;
        @include text-clamp(4);
      }
    }
    @include media-query($on-palm) {
      margin-left: -15px;
      margin-right: -15px;
      .post-related {
        ul {
          li {
            float: inherit;;
            width: 100%;
            height: auto;
            margin-left: 0 !important;
            padding-top: 0 !important;
          }
          .post-summary {
            @include text-clamp(3);
          }
        }
      }
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        border-bottom: #CDC 1px solid;
        padding-bottom: #{$spacing-unit/2};
        margin-bottom: $spacing-unit;
    }
    .post-summary {
        @include media-query($on-palm) {
            @include text-clamp(4);
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    display: block;
    margin-bottom: 15px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;

    > .post-title {
      color: #314455;
    }
}

.post-title {
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 1.2;
    overflow-wrap: break-word;
    margin-bottom: 7px;
}


.post-summary {
  margin-bottom: 0;
  color: $text-color;
  overflow-wrap: break-word;
}

.post-content {
    margin-bottom: $spacing-unit;

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 23px;
        &:not(:first-child) {
          margin-top: 50px;
        }
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }
}
