---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time></p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <nav class="post-navigation">
    {% if page.previous.url %}
    <a class="nav-link" href="{{page.previous.url}}">
      <div>
        <span class="nav-meta">Previous</span>
        <span class="nav-title">{{page.previous.title}}</span>
      </div>
    </a>
    {% endif %}
    {% if page.next.url %}
    <a class="nav-link" href="{{page.next.url}}">
      <div>
        <span class="nav-meta">Next</span>
        <span class="nav-title">{{page.next.title}}</span>
      </div>
    </a>
    {% endif %}
  </nav>

  <script src="https://utteranc.es/client.js"
          repo="SangsooNam/sangsoonam.github.io"
          issue-term="pathname"
          crossorigin="anonymous"
          async>
  </script>
</article>
